.App {
  text-align: center;
}
nav {
  min-height: 5vh;
  background: cornflowerblue;
}
.ul-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.a {
  color: white;
}
.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Link {
  color: white;
}
.cardLink:hover {
  text-decoration: none;
  box-shadow: 10px 5px 5px rgb(85, 77, 160);
}
.card {
  margin: 20px;
  max-width: 300px;
}
@media only screen and (max-width: 500px) {
  .ul-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 5vh;
    background: rgb(237, 100, 100);
    font-size: 14px;
  }
  .ul-nav h3 {
    font-size: 16px;
  }
}
